.dark-sidebar .main-sidebar .sidebar-menu li.menu-header {
    background: #353c48;
    margin-top: 0;
}

.dark-sidebar.sidebar-mini .main-sidebar .sidebar-menu {
    background-color: #353c48;
}

.dark-sidebar.sidebar-mini .main-sidebar .sidebar-user {
    background-color: #353c48;
}

.dark-sidebar .main-sidebar .sidebar-menu li ul.dropdown-menu li a:hover {
    color: #fff !important;
}

.dark-sidebar .main-sidebar .sidebar-menu li ul.dropdown-menu li a:hover::before {
    color: #ffffff;
}

.dark-sidebar.sidebar-mini .main-sidebar .dropdown-title {
    background-color: #353c48;
}

.dark-sidebar.sidebar-mini .main-sidebar .sidebar-menu li ul.dropdown-menu li:hover a {
    background-color: #353c48;
}

.dark-sidebar.sidebar-mini .main-sidebar .sidebar-menu li ul.dropdown-menu li a {
    background-color: #353c48;
}

.dark-sidebar.sidebar-mini .main-sidebar:after {
    background-color: #353c48;
}

.main-sidebar .sidebar-menu li a.pad {
    padding-left: 18px !important;
}


/* .theme-white a:hover {
    color: white !important;
} */

a:hover {
    color: none;
    text-decoration: none;
}

a:not(.btn-social-icon):not(.btn-social):not(.page-link) .ion,
a:not(.btn-social-icon):not(.btn-social):not(.page-link) .fas,
a:not(.btn-social-icon):not(.btn-social):not(.page-link) .far,
a:not(.btn-social-icon):not(.btn-social):not(.page-link) .fal,
a:not(.btn-social-icon):not(.btn-social):not(.page-link) .fab {
    margin-left: 0px;
}

.sidebar-mini .main-sidebar .sidebar-menu>li>a {
    padding-left: 5px !important;
}

.card .card-statistic-3 .card-icon-large {
    font-size: 50px;
    width: 100px;
}

.l-bg-yellow-dark {
    background: linear-gradient(135deg, #f9f100, #d2d61e) !important;
    color: #fff;
}

.l-bg-red-dark {
    background: linear-gradient(135deg, #dc3545 0, #dc3545 100%) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(135deg, #478ad0, #1eacd6) !important;
    color: #fff;
}

.l-bg-purple-dark {
    background: linear-gradient(135deg, #478ad0, #1eacd6) !important;
    color: #fff;
}

.mb-2rem,
.my-2rem {
    margin-bottom: 2rem !important;
}